
<section class="about_section layout_padding">
    <div class="container  ">
      <div class="row">
        <div class="col-md-6 ">
          <div class="img-box">
            <img class="rounded-circle image-animation-y" height="300px" width="300px" src="../../assets/images/chambre/AGENCE EL ALOUI (1).png" alt="">
          </div>
        </div>
        <div class="col-md-6">
          <div class="detail-box">
            <div class="heading_container">
              <h2>
                Nous somme a votre disposition 
              </h2>
            </div>
            <p>
              L'agence El Aloui, spécialiste de l'allocation de biens immobiliers, offre une gamme diversifiée de villas,
              appartements et locaux commerciaux. Grâce à son expertise approfondie du marché, 
              elle assure des solutions adaptées aux besoins spécifiques de sa clientèle. La transparence, 
              l'efficacité et le service personnalisé sont au cœur de leur approche, 
              faisant de l'Agence El Aloui le partenaire idéal pour trouver le lieu parfait qui répond à vos exigences.
              Avec un engagement envers la satisfaction client, 
              l'Agence El Aloui simplifie le processus d'allocation de propriétés avec professionnalisme et fiabilité.
            </p>
            <a href="">
              Read More
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
