<section>
    <div class="container-fluid">
        <div class="locaux">
            <h2 class="navbar-brand" style="font-size: 50px; color: brown; "> Notre Locaux</h2> 
            <div class="btn-group" role="group" aria-label="Basic outlined example">
                <button type="button" class="btn btn-outline-primary" (click)="getAllLocals()">Tous</button>
                <button type="button" class="btn btn-outline-primary" (click)="getAppartements()">Appartements</button>
                <button type="button" class="btn btn-outline-primary" (click)="getCommercialLocal()">Commercials</button>
                <button type="button" class="btn btn-outline-primary" (click)="getVillas()">Villas</button>
            </div>
        </div>
    </div>
    <app-list-locals [localsList] ="otherLocals"></app-list-locals>
</section>
