.container-fluid{
  position: fixed;
  background-color: #000;
  z-index: 9999;
}
ul
{
    display: flex;
    gap: 40px !important;
}
article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: block;
}
  [hidden] {
    display: none !important;
  }

  
  